.mv-image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* creates a contoured border around white-on-white images */
 .mv-image-border {
    padding:1px;
    filter: drop-shadow(0px 0px 1px  rgba(0,0,0,1));
 }

.mv-image-right {
    float: right;
    padding: 10px;
  }

.mv-image-40 {
    width: 40%;
}

.mv-image-50 {
    width: 50%;
}

.mv-image-60 {
    width: 60%;
}

.mv-inline-thumb {
    max-height: 32px;
    vertical-align: middle;
}


.mv-rounded {
    border-radius: 8px;
}

/* drop shadow for rectangular images */
.mv-image-shadow {
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.7));
}
