.mv-image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mv-image-right {
    float: right;
    padding: 10px;
  }

.mv-image-40 {
    width: 40%;
}

.mv-image-50 {
    width: 50%;
}

.mv-image-60 {
    width: 60%;
}

.mv-inline-thumb {
    max-height: 32px;
    vertical-align: middle;
}


/* drop shadow for rectangular images */
.mv-image-shadow-orig {
    box-shadow: 5px 5px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 5px 5px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 5px 5px 10px 4px rgba(119, 119, 119, 0.75);
}

.mv-rounded {
    border-radius: 8px;
}

.mv-image-shadow {
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.7));
}
